.env
.env.*

node_modules/

logs/
*.log

*.sqlite
*.sqlite-shm
*.sqlite-wal

*.swp
*.bkp
*.backup
*.bak
*backup*

cookies.txt
public/uploads/

teste-*.js
relatorio_*.json

.DS_Store
Thumbs.db

*.bkp*
*.html.bkp*
*.js.bkp*

/index.js
/nome.js
/public/index.htm

